<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPSTORE_BUILD</key>
	<false/>
	<key>PRODUCTION_API_KEY</key>
	<string>56300f54-f691-4089-92f8-5f3a3cd8eae0</string>
	<key>SANDBOX_API_KEY</key>
	<string>ed9d2c9b-045e-475e-b471-8d92fc849b01</string>
	<key>FEATURE_NAME</key>
	<string>Personalization</string>
	<key>FEATURE_DESCRIPTION</key>
	<string>Use your personality and interests to find the perfect match</string>
</dict>
</plist>
