<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPSTORE_BUILD</key>
	<false/>
	<key>PRODUCTION_API_KEY</key>
	<string>73fafda2-8d07-4715-b66a-c7e7349f1155</string>
	<key>SANDBOX_API_KEY</key>
	<string>291d863a-bf28-4986-9908-cff61280e856</string>
	<key>FEATURE_NAME</key>
	<string>Customized content</string>
	<key>FEATURE_DESCRIPTION</key>
	<string>We need to think of something to put here</string>
</dict>
</plist>
