<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPSTORE_BUILD</key>
	<false/>
	<key>PRODUCTION_API_KEY</key>
	<string></string>
	<key>SANDBOX_API_KEY</key>
	<string>291d863a-bf28-4986-9908-cff61280e856</string>
	<key>FEATURE_NAME</key>
	<string>In-store Deals</string>
	<key>FEATURE_DESCRIPTION</key>
	<string>Receive exclusive offers, including ones when you are at or near Mallmart stores.</string>
</dict>
</plist>
